@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, html, body {
        font-family: 'Raleway', sans-serif;
        font-size: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body {
        @apply w-full h-auto bg-light-blue;
    }
    button, a {
        cursor: pointer;
    }
    ol, ul {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

@layer components {
    .logo {
        mask-image: url('./assets/logo.svg');
        mask-size: cover;
    }
    .github_logo {
        mask-image: url('./assets/github-mark.svg');
        mask-size: cover;
    }
    .card_info {
        @apply h-fit mt-6 flex flex-col items-center justify-center;
    }
    .card_info_number {
        @apply max-w-[100px] text-2xl font-semibold text-dark-purple font-number overflow-hidden text-ellipsis md:text-xl;
    }
    .card_info_desc {
        @apply font-medium text-lg text-medium-gray md:text-base;
    }

    .card_percentage {
        @apply h-1 rounded max-w-[90px] md:max-w-[76px]
    }
}